html,
body {
  font-family: Lato, sans-serif;
  margin: 0;
  min-height: 100%;
}

body {
  background: url('./img/bg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

section#header {
  margin: 20px auto;
  text-align: center;
}

section#header h1 {
  font-size: 34px;
  margin: 20px auto;
}

h2 {
  font-size: 24px;
  margin: 20px auto;
}

img#portrait {
  max-width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

div.container {
  margin: 0 20%;
}

section#main {
  text-align: center;
}

section#main a {
  color: #000;
  text-decoration: none;
}

section#main a > div {
  border: 2px solid #305489;
  width: 100%;
  padding: 10px 10px;
  margin: 20px auto;
  border-radius: 5px;
}

section#main a > div:hover {
  background-color: rgba(233, 233, 233, 0.45);
}

@media screen and (max-width: 766px) {
  div.container {
    margin: 0 10%;
  }
}
